.u-form-item.formList.u-border-bottom {
	padding-left: 16px;
	padding-right: 16px;
	color: #606266;
}
uni-page {
	background-color: #EDEDED;
}
.mt10 {
	margin-top: 10px;
}
.ml10 {
	margin-left: 10px;
}
.mr10 {
	margin-right: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.uni-modal .uni-modal__hd {
	padding: 10px 0 0;
}